body {
 background-color: rgb(240, 240, 240);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input{
  height: 35px;
}
select{
  height: 42px;
  width: 150px;
}

.sevenDat{
  display: flex;
  justify-content: center;
  text-align: center;
  
}


.daySpacing{
  margin-right: 20px;
}
.inputArea{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

}
.mainCard{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  
}

